<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Summary</title>
     <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

</head>
<body>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('user_dashboard', user_id=user.id) }}" style="color: #b60909;font-weight: 700;">Welcome {{user.fullname}}</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('user_dashboard', user_id=user.id) }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Summary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Logout</a>
        </li>
    </ul>
    </div>
  </div>
</nav>

<div class="content">
  <h3 class="heading" style="border: 2px solid black; text-align: center; margin: 20px;margin-top: 30px;padding: 3px;">Parking Summary</h3>

    {% if chart_filename %}
        <img src="{{ url_for('static', filename=chart_filename.split('/')[-1]) }}" alt="User Chart">
    {% else %}
        <p>No parking activity found for this user.</p>
    {% endif %}
</div>


</body>
</html>